<%- include('templates/header') %> 
    <h1 style='color:red'>Error!</h1>
    <div><%= error %> </div><br>
    <form action="/members" method="get" style="display:inline;">
        <input type="submit" value="Back to Members Page">
    </form>
<%- include('templates/footer') %> 