<%- include('templates/header') %>
    <h1>Comp 2537 <br> Assignment 1 <br> Home Page</h1>

        <% if (req.session.authenticated) { %>
            <!-- User is logged in -->
            <h2>Hello, <%= req.session.username %>!</h2>
            <form action='/members' method='get'>
                <button type='submit'>Members Area</button>
            </form>
            <form action='/logout' method='get'>
                <button type='submit'>Log out</button>
            </form>
        <% } else { %>
            <!-- User is not logged in -->
            <form action='/signUp' method='get'>
                <button type='submit'>Sign Up</button>
            </form>
            <form action='/login' method='get'>
                <button type='submit'>Login</button>
            </form>
        <% } %>

        <% if (req.query.notLoggedIn) { %>
            <p style='color: red;'>You must be logged in to access the members page.</p>
        <% } %>
<%- include('templates/footer') %>