<%- include('templates/header') %>

    <div class="d-flex justify-content-center py-3">
        <main class="px-3">
            <h1>Comp 2537</h1>
            <p class="text-center lead">Assignment 2</p>
            <p class="text-center lead">Home Page</p>
    
            <% if (authenticated) { %>
            <h2 class="text-center mt-4">Hello, <%= username %>!</h2>
            <% } %>
        </main>
    </div>

<%- include('templates/footer') %>