<%- include('templates/header') %>
    <div>You are logged out.</div><br>
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
<%- include('templates/footer') %>