<tr>
    <td><%= user.username %></td>
    <td><%= user.user_type %></td>
    <td>
      <form action="/toggleAdminStatus" method="post">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="submit" value="<%= user.user_type == 'admin' ? 'Demote' : 'Promote' %>">
      </form>
    </td>
</tr>